table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
}

thead{
    color: #fff;
    font-size: 1.2rem;
}

th, td {
    padding: 16px 35px;
}

.round-border {
    border-radius: 10px;
    overflow: hidden;
    width: 90vw;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
    margin: 20px auto;
}