@import '../../theme';

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.fa-toggle-on {
    color: $highlight-available;
}

.fas {
    position: absolute;
    top: calc(50% - 0.75rem);
    font-size: 1.5rem;
}

.toggle {
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.show-icon {
    opacity: 1;
}

