thead {
    background-color: #7858e3;
    text-align: left;
    th:first-child {
        width: 345px;
    }
    th:nth-child(2){
        width: 155px;
    }
    th:nth-child(3){
        width: 255px;
    }
    th:nth-child(4){
        width: 225px;
    }
}