$header-text: #fff;
$primary-color: #7858e3;
$primary-danger: red;

$highlight-danger: rgb(255, 175, 175);
$highlight-available: #43a047;

$odd-row-color: #f9f4ff;

$simple-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);